body{
    font-family: 'Roboto',sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.container{
    width: 80%;
    max-width: 900px;
    margin: 20px auto;
}
.text-center {
    text-align: center;
}
div{
    margin-bottom: 30px;
}
.one{
    background:bisque;
}
.two{
    background:orange;
}
.three{
    border:2px solid red;
}
.out-1, .out-2{
    border:5px solid greenyellow;
}
.bg-2{
    border:5px solid blueviolet;
}